<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget Tracker</title>
    <base href="/">
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<header class="header">
    <nav>
        <div>
<!-- Hamburglar-->
  <label>
    <input type="checkbox">
      <div class="menu"> <div class="hamburger"></div> </div>
        <ul class="HBnavbar">
          <li class="current"> <a href="/">Home</a> </li>
          <li> <a href="/budget">See Budget</a> </li>
          <li id="HBnav-bar"> <a href="/expenses">Enter Expenses</a></li>
          <li> <a href="/news">News (beta)</a> </li>
        </ul>
    </label>
<!-- end Hamburglar -->
<p class="title">{{title.title}}</p>
{{!-- <p class="user"> {{user.username}} </p> --}}
                <ul>
                   {{#if logged_in}}
                    <li class="nav-item p-1 mx-4">
                        <button id="logout" class="btn nav-link">Logout</button>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </nav>
<span id="span"></span>
    </header>
<main>
<div class="hero"></div>

    {{{ body }}}

</main>
    <footer>

    </footer>
    {{#if logged_in}}
<script src="/js/logout.js"></script>
{{/if}}
<script src="/js/main.js"></script>
</body>


</html>