<div class="row">
  <div class="col-md-6">
    <h2>INCOME</h2>

    <form class="form Budget">
      <div class="form-group">
        <label for="INCOME">
        <input class="form-input" type="text" id="enter-income" />
      </div>
    </form>

    <h2>MONTHLY EXPENSES</h2>

    <form class="form Monthly Expenses">
        <div class="form-group">
            <label for="MONTHLY EXPENSES"></label>
            <input class="form-input" type="text" id="monthly expenses">
        </div>
    </form>
