<div class="row">
  <div class="col-md-6">
    <h2>MONTHLY INCOME</h2>

    <form class="form Budget">
      <div class="form-group">
        <label for="MONTHLY INCOME">
        <input class="form-input" type="text" id="enter-income" />
      </div>
    </form>

    <h2>MONTHLY EXPENSES</h2>

    <form class="form Monthly Expenses">
        <div class="form-group">
            <label for="MONTHLY EXPENSES"></label>
            <input class="form-input" type="text" id="monthly-expenses">
        </div>
    </form>

      {{!-- <h2>MONTHLY EXPENDABLE INCOME</h2>

    <form class="form Expendable Income">
        <div class="form-group">
            <label for="MONTHLY EXPENDABLE INCOME"></label>
            <input class="form-input" type="text" id="exp-income">
        </div>
    </form> --}}

    <script src="./js/login.js"></script>
