<h3>Your budget</h3>

<section id="budget-section">
    <div>
        <label for="name">Budget Name</label>
        <input class="budget-input" id="name" type="text" readonly>
    </div>
    <div>
        <label for="housing">Housing</label>
        <input class="budget-input" id="housing" type="text" readonly>
    </div>
    <div>
        <label for="insurance">Insurance</label>
        <input class="budget-input" id="insurance" type="text" readonly>
    </div>
    <div>
        <label for="transportation">Transportation</label>
        <input class="budget-input" id="transportation" type="text" readonly>
    </div>
    <div>
        <label for="food">Food</label>
        <input class="budget-input" id="food" type="text" readonly>
    </div>
    <div>
        <label for="savings">Savings</label>
        <input class="budget-input" id="savings" type="text" readonly>
    </div>
    <div>
        <label for="utilities">Utilities</label>
        <input class="budget-input" id="utilities" type="text" readonly>
    </div>
    <div>
        <label for="personal">Personal</label>
        <input class="budget-input" id="personal" type="text" readonly>
    </div>
    <button id="budget-edit-btn">Edit</button>
    <button id="budget-save-btn" class="hidden">Save</button>
</section>


<script src="/js/budget.js"></script>