<<<<<<< HEAD
   <link href='/css/calendar.css' rel='stylesheet' />
    <script src='/js/calendar.js'></script>
    <script>
=======
    <link href='/css/calendar.css' rel='stylesheet' />

  </head>
  <body>
    <div id='calendar'></div>
  </body>
</html>    

<script src='/js/calendar.js'></script>
<script>
>>>>>>> 362f9019a7fdcec4c5051e26494927fddbd67df7

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth'
        });
        calendar.render();
      });

</script>