<div class="row">
  <div class="col-md-6">

    <h2 id="expenses">MONTHLY EXPENSES</h2>

<form class="MonthlyExpenses" id="submitexpense">
  <div class="form-group">
    <label for="MONTHLY EXPENSES"></label>
            {{!-- <input class="form-input" type="text" id="monthly-expenses"> --}}
  </div>

 <label for="nameofexpense">Name of expense:</label>
  <input type="text" id="nameofexpense" name="nameofexpense"><br><br>
    
<label for="expensecategory">Choose a category:</label>
<select id="expensecategory">
  <option value="housing">Housing</option>
  <option value="insurance">Insurance</option>
  <option value="transportation">Transportation</option>
  <option value="food">Food</option>
  <option value="savings">Savings</option>
  <option value="utilities">Utilities</option>
  <option value="personal">Personal</option>
</select>
  <label for="amount">Cost of expense:</label>
  <input type="text" id="costofexpense" name="costofexpense"><br><br>
  <input type="date" id="date">
  <div id="status"></div>
  <input id="expBtn" type="submit" value="Submit">
</form>


<main class="container-fluid">
  <div class="container flex justify-center mx-auto">
    <section>
        <div class="flex flex-col">
        <div class="table-responsive">
            <div class="w-full">
            <div class="border-b border-gray-200 shadow">
              <form id="expenses-by-date">
                <label for="start-date">Start Date:</label>
                <input type="date" id="start-date">

                <label for="end-date">End Date:</label>
                <input type="date" id="end-date">

                <input id="end-date" type="submit" value="Search">
              </form>
                <table id="expenses-table">
                    <tr>
                    <th class="px-4 py-1 text-md text-black-5000 row-name" id= "name">Expense Name</th>
                    <th class="px-4 py-1 text-md text-black-500 row-name" id= "category">Category</th>
                    <th class="px-4 py-1 text-md text-black-500 row-name" id= "cost">Cost</th>
                    <th class="px-4 py-1 text-md text-black-500 row-name"id= "date">Date</th>
                    <th class="px-4 py-1 text-md text-black-500 row-name"id= "edit">Edit</th>
                    <th class="px-4 py-1 text-md text-black-500 row-name"id= "delete">Delete</th>
                    </tr>
                    <tbody id="table-body">
                    </tbody>
                </table>
            </div>
            </div>
        </div>
        </div>
    </section>
  </div>
</main>


<script src="/js/expense.js"></script>
<script src="/js/getExpenses.js"></script>