    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

<div class="row">
  <div class="col-md-6">

    <h2>MONTHLY EXPENSES</h2>

    <form class="MonthlyExpenses" id="submitexpense">
        <div class="form-group">
            <label for="MONTHLY EXPENSES"></label>
            {{!-- <input class="form-input" type="text" id="monthly-expenses"> --}}
        </div>

 <label for="nameofexpense">Name of expense:</label>
  <input type="text" id="nameofexpense" name="nameofexpense"><br><br>
    
<label for="expensecategory">Choose a category:</label>
<select id="expensecategory">
  <option value="housing">Housing</option>
  <option value="insurance">Insurance</option>
  <option value="transportation">Transportation</option>
  <option value="food">Food</option>
  <option value="savings">Savings</option>
  <option value="utilities">Utilities</option>
  <option value="personal">Personal</option>
</select>
  <label for="amount">Cost of expense:</label>
  <input type="text" id="costofexpense" name="costofexpense"><br><br>
  <input type="submit" value="Submit">
  

<input type="date" id="date">
<div id="status"></div>
</form>

{{!-- <button type="button" id="addexpense">Adding more expenses? Click Here!</button> --}}
<br>

<main class="container-fluid">
  <div class="container flex justify-center mx-auto">
    <section>
        <div class="flex flex-col">
        <div class="table-responsive">
            <div class="w-full">
            <div class="border-b border-gray-200 shadow">
                <table>
                <thead class="bg-gray-50">
                    <tr>
                    <th class="px-20 py-1 text-md text-black-5000 row-name" id= "name">Expense Name</th>
                    <th class="px-20 py-1 text-md text-black-500 row-name" id= "category">Category</th>
                    <th class="px-10 py-1 text-md text-black-500 row-name" id= "cost">Cost</th>
                    <th class="px-2 py-1 text-md text-black-500 row-name"id= "date">Date</th>
                    </tr>
                </thead>                
                    <tbody id="table-body">
                    </tbody>
                </table>
            </div>
            </div>
        </div>
        </div>
    </section>
  </div>
</main>








<script src="/js/expense.js"></script>

