<main class="container-fluid display-flex flex-column justify-center align-center">
      <h4 id="expenses">Enter Expenses</h4>
  <div class="container flex justify-center mx-auto">
    <section>
        <div class="flex flex-col">
        <div class="table-responsive">
            <div class="w-full">
            <div class="border-b border-gray-200 shadow">
              <div class="table-div">
              <table>
                <tr>
                <th class="px-4 py-1 text-md text-black-5000 row-name">Expense Name</th>
                <th class="px-4 py-1 text-md text-black-500 row-name">Category</th>
                <th class="px-4 py-1 text-md text-black-500 row-name">Cost</th>
                <th class="px-4 py-1 text-md text-black-500 row-name">Date</th>
                <th class="px-4 py-1 text-md text-black-500 row-name">Submit</th>
                </tr>
                <form class="MonthlyExpenses" id="submitexpense">
                <tr>
                  <td><label for="nameofexpense"></label>
                  <input type="text" id="nameofexpense" name="nameofexpense"></td>
                  <td><label for="expensecategory"></label>
                    <select id="expensecategory">
                      <option value="housing">Housing</option>
                      <option value="insurance">Insurance</option>
                      <option value="transportation">Transportation</option>
                      <option value="food">Food</option>
                      <option value="savings">Savings</option>
                      <option value="utilities">Utilities</option>
                      <option value="personal">Personal</option>
                    </select></td>
                    <td><label for="amount"></label>
                      <input type="text" id="costofexpense" name="costofexpense"></td>
                    <td><input type="date" id="date"></td>
                    <td><input class="expBtn" type="submit" value="Submit"></td>
                </tr>
                </form>
              </table>
              </div>
              <h4 class="text-center">Search Previous Expenses By Date</h4>
              <form id="expenses-by-date" class="text-center">
                <label for="start-date">Start Date:</label>
                <input type="date" id="start-date">

                <label for="end-date">End Date:</label>
                <input type="date" id="end-date">

                <input id="end-date" type="submit" value="Search">
                <input type="reset" value="Clear">
              </form>
              <div class="table-div">
                <table id="expenses-table">
                    <tr>
                    <th class="px-4 py-1 text-md text-black-5000 row-name" id= "name">Expense Name</th>
                    <th class="px-4 py-1 text-md text-black-500 row-name" id= "category">Category</th>
                    <th class="px-4 py-1 text-md text-black-500 row-name" id= "cost">Cost</th>
                    <th class="px-4 py-1 text-md text-black-500 row-name"id= "date">Date</th>
                    <th class="px-4 py-1 text-md text-black-500 row-name"id= "edit">Edit</th>
                    <th class="px-4 py-1 text-md text-black-500 row-name"id= "delete">Delete</th>
                    </tr>
                    <tbody id="table-body">
                    </tbody>
                </table>
              </div>
            </div>
            </div>
        </div>
        </div>
    </section>
  </div>
</main>


<script src="/js/expense.js"></script>
<script src="/js/getExpenses.js"></script>