<div class="row">
  <div class="col-md-6">

    <h2>MONTHLY EXPENSES</h2>

    <form class="MonthlyExpenses" id="submitexpense">
        <div class="form-group">
            <label for="MONTHLY EXPENSES"></label>
            {{!-- <input class="form-input" type="text" id="monthly-expenses"> --}}
        </div>

 <label for="nameofexpense">Name of expense:</label>
  <input type="text" id="nameofexpense" name="nameofexpense"><br><br>
    
<label for="expensecategory">Choose a category:</label>
<select id="expensecategory">
  <option value="housing">Housing</option>
  <option value="insurance">Insurance</option>
  <option value="transportation">Transportation</option>
  <option value="food">Food</option>
  <option value="savings">Savings</option>
  <option value="utilities">Utilities</option>
  <option value="personal">Personal</option>
</select>
  <label for="amount">Cost of expense:</label>
  <input type="text" id="costofexpense" name="costofexpense"><br><br>
  <input type="submit" value="Submit">
  

<input type="date" id="date">
<div id="status"></div>
</form>


{{!-- <button type="button" id="addexpense">Adding more expenses? Click Here!</button> --}}

<script src="/js/expense.js"></script>

