<div class="col-12 flex-column align-center justify-center flex-no-wrap">
    <form class="col-12 flex-column align-center justify-center flex-no-wrap" id="post-budget">
        <label for="name">Budget Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="housing">Housing:</label><br>
        <input type="number" id="housing" name="housing"><br>
        <label for="insurance">Insurance:</label><br>
        <input type="number" id="insurance" name="insurance"><br>
        <label for="transportation">Transportation:</label><br>
        <input type="number" id="transportation" name="transportation"><br>
        <label for="food">Food:</label><br>
        <input type="number" id="food" name="food"><br>
        <label for="savings">Savings:</label><br>
        <input type="number" id="savings" name="savings"><br>
        <label for="utilities">Utilities:</label><br>
        <input type="number" id="utilities" name="utilities"><br>
        <label for="personal">Personal:</label><br>
        <input type="number" id="personal" name="personal"><br>
        <input type="submit" value="Submit">
    </form> 
</div>

<script src="/js/first-budget.js"></script>
