
  <div class="col-12 flex-column align-center justify-center flex-no-wrap" id="home-div">

<div class="display-flex justify-center" id="welcome-div"><h4>Welcome to your budget app, {{user.username}}!</h4></div>

<div class="col-6 chart" id="pie-chart-div">
    <p>Budget Breakdown (in percentages):</p>
     <canvas id="pie-chart" width="200" height="200"></canvas>
</div>

<div class="col-6 chart" id="double-chart-div">
    <p>Expenses:</p>
     <canvas id="double-chart" width="300" height="300"></canvas>
</div>


</div>
<script src=" /js/main.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js'></script> 
<script src="/js/home.js"></script>