<div class="col-12 flex-column align-center justify-center flex-no-wrap">
    <form class="col-12 flex-column align-center justify-center flex-no-wrap" id="post-income">
        <label class="income-form" for="income">What is your monthly income?</label><br>
        <input class="income-form" type="text" id="monthly-income" name="monthly-income"><br>
        <input class="income-form" type="submit" value="Submit">
    </form>  
</div>

<script src="/js/income.js"></script>