.center-budget-table {
    margin-left: auto;
    margin-right: auto;
}

.center-budget {
    text-align: center;
}

.button-budget {
    max-width: 12rem;
    min-width: 12rem;
    text-align: center;
    margin-left: 2rem;
    margin-right: 5rem;
}

#budBtn {
    margin-left: 2rem;
    margin-right: 5rem;
}

#name{
    outline: none;
    border: none;
}

#budget-refresh-btn {
    margin: 5pt;
    padding: 6pt;
    color: #9e9e9f;
    background-color: #0a0944;
    border: .5 solid #000000;
}
