#home-div {
    margin: 15px;
}

.chart {
    text-align: center;
    height: 400px;
    width: 400px;
}

#welcome-div {
    margin: 25px;
    height: fit-content;
    border-bottom: .5pt solid #000000;
}



.nav-link {
    color: #031543;
}

.income-form {
    margin: 10px;
}
  
