#home-div {
    margin: 15px;
}

.chart {
    text-align: center;
    height: 400px;
    width: 400px;
}

#welcome-div {
    margin: 25px;
    height: fit-content;
    border-bottom: .5pt solid #000000;
}


/* login - logout */
.card-img {
    height: 200px;
    width: 200px;
    object-fit: contain;
}

.nav-link {
    color: #031543;
}

.income-form {
    margin: 5px;
}
 /* header classes */
.user {
    position: absolute;
    top: 45pt;
    left: 15pt;
    font-size: 20pt;
    color: #040404;
  } 
  
  .nav-item {
    position: absolute;
    top: 40pt;
    left: 60pt;
    list-style: none;
  } 

  /* budget */

  .budget {
    padding-bottom: 8pt;
    padding-left: 110pt;
}
  
  #budget-section{
      padding-left: 45pt;
  }

  .budget-input {
      margin: 4pt;
      padding: 2pt;
  }

  #budget-edit-btn {
      margin: 5pt;
      padding: 6pt;
      color: #9e9e9f;
      background-color: #0a0944;
      border: .5 solid #000000
  }
  #budget-save-btn {
      margin: 5pt;
      padding: 6pt;
      color: #9e9e9f;
      background-color: #0a0944;
      border: .5 solid #000000
  }

  #budBtn {
      margin-top: 10pt;
      margin-left: 65pt;
  }

  /* Expenses */
#expenses{
    padding-left: 55pt;
}

  .MonthlyExpenses {
      padding-left: 40pt;
  }

  #expBtn {
      padding: 5pt;
      margin-left: 120pt;
      margin-top: 15pt;
      color: #9e9e9f;
      background-color: #0a0944;
      border: .5 solid #000000
  }

  /* news */
  .card {
      border: none;
      padding: 25px;
  }

  .card-news-img {
      width: 80%;
      
  }

  img {
    margin: 5px; 
    padding-left: 0px;
    padding-right: 0px;
    border: 1px solid #eee;
    box-shadow: #00000042 0px 19px 43px;
    transition: all .3s ease-in-out;
    margin-right: 20pt;
  }
  
  img:hover {
    box-shadow: #00000085 0px 39px 43px;
    transform: translate3d(0px, -5px, 0px);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  .text {
      color: #000000;
      text-decoration: none;
  }

  .news-text:hover {
      animation: vibrate 0.5s;
      animation-iteration-count: infinite;
 }

 @keyframes vibrate {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(-1deg); }
    20% { transform: rotate(1deg); }
    30% { transform: rotate(0deg); }
    40% { transform: rotate(1deg); }
    50% { transform: rotate(-1deg); }
    60% { transform: rotate(0deg); }
    70% { transform: rotate(-1deg); }
    80% { transform: rotate(1deg); }
    90% { transform: rotate(0deg); }
    100% { transform: rotate(-1deg); }
  }


